table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.shadowforcards{
    /* box-shadow: 5px 5px lightgray; */
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
}

button {
        cursor: pointer;
    }

/* Search Box CSS */
.wrap{
    width:500px;     
  }
  
  .search {
    width: 100%;
    display: flex;
    border: 1px solid rgb(100,179,231);
    border-radius:5px;
  }
  
  .searchTerm {
    width: 100%;
    padding: 5px;
    height: auto;
    border: none;
    color: #d4d4d4;
    border-radius:5px 0px 0px 5px;
  }
  
  .searchTerm:focus{
    color: #707070;
    border-radius:5px;
  }
  
  .searchButton {
    width: 40px;
    height: 30px;
    border: none;
    background: #ffffff;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
  }
  /* Search Box CSS End */
  