{% extends "layouts/alumni/commonlayoutalumni.html" %}

{% block heading %}Dashboard{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300;">Team Members</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: space-between;">
                        <img style="margin-top: -11px;" src="/static/IMG/team.png" alt="">
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4 style="font-weight:600;">10</h4>
                        <h4>&nbsp</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300;">Sessions Conducted</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: space-between;">
                        <img style="margin-top: -11px;" src="/static/IMG/teacher.png" alt="">
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4 style="font-weight:600;">10</h4>
                        <h4>&nbsp</h4>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300;">Queries Solved</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: space-between;">
                        <img style="margin-top: -11px;" src="/static/IMG/problem.png" alt="">
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4>&nbsp</h4>
                        <h4 style="font-weight:600;">10</h4>
                        <h4>&nbsp</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
    