{% extends "layouts/alumni/commonlayoutalumni.html" %}

{% block content %}

<div class="wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8" style="margin-top: 3%;">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp&nbsp Edit Profile</h4><hr size="2">
                                <h4 class="card-title">Edit Profile</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Company (disabled)</label>
                                                <input type="text" class="form-control" disabled="" placeholder="Company" value="Prefix Software Consultancy">
                                                <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-3 px-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" value="Prashant@123">
                                                <input type="text" class="form-control" placeholder="Username" value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" placeholder="Email" value="Prashantphulari21@gmail.com" >
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>First Name</label>

                                                <input type="text" class="form-control" placeholder="Company" value="Prashant">

                                                <input type="text" class="form-control" placeholder="Company" value="Mike">

                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name" value="Phulari">
                                                <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City" value="Pune">
                                                <input type="text" class="form-control" placeholder="City" value="Mike">
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-1">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" placeholder="Country" value="India">
                                                <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" placeholder="ZIP Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>facebook Id</label>
                                                <input type="text" class="form-control" placeholder="Enter Id" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label>google+ Id</label>
                                                <input type="text" class="form-control" placeholder="Enter Id" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="100" cols="80" style="resize: none; height: 150px;" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                            </div>
                                        </div>
                                    </div> -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user" style="margin-top: 10%;">
                            <div class="card-image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="/static/IMG/faces/prashant.jpg" alt="...">
                                        <h5 class="title">Prashant Phulari</h5>
                                        <img class="avatar border-gray" src="../static/IMG/faces/face-3.jpg" alt="...">
                                        <h5 class="title">Shweta dinkale</h5>
                                    </a>
                                    <p class="description">
                                        
                                        <center>
                                        <table style="font-size: medium;" cellpadding="5">
                                            <tr>
                                              <th>Email: </th>
                                              <td>Prashantphulari21@gmail.com</td>
                                        <table style="font-size: medium;" cellpadding="10">
                                            <tr>
                                              <th>Email: </th>
                                              <td>Shwetadinkale1999@gmail.com</td>
                                            </tr>
                                            <tr>
                                              <th>Unique Id: </th>
                                              <td>22212720171124211002</td>
                                            </tr>
                                            <tr>
                                              <th>Passout Year:    </th>
                                              <td>  2021</td>
                                            </tr>
                                          </table>
                                        </center>

                                    </p>
                                </div>
                                <!-- <p class="description text-center">
                                    unique-id=123456
                                    
                                </p> -->
                            </div>
                            <hr>
                            <div class="button-container mr-auto ml-auto">
                                <!-- <button href="www.facebook.com" class="btn btn-simple btn-link btn-icon"> -->
                                    <a href="www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                <!-- </button> -->
                                <button href="ww.twitter.com" class="btn btn-simple btn-link btn-icon">
                                    <a href="www.twitter.com" target="_blank"> <i class="fa fa-twitter"></i></a>
                                </button>
                                <button href="www.google.com" class="btn btn-simple btn-link btn-icon">
                                    <a href="www.google.com" target="_blank"> <i class="fa fa-google-plus-square"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
<!-- <div class="wrapper"> -->
<!-- <div class="content"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp&nbsp Expertise<!-- Button trigger modal -->
                            <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              Add +
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Skills</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="col-sm-12 pr-1">
                                        <div class="form-group">
                                            <input style="width: 100%;" type="text" class="form-control" placeholder="Enter Skills" value="">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </h4><hr size="2">
                    </div>
                    <div class="card-body">

                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp&nbsp Work Experience<!-- Button trigger modal -->
                        <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                          Add +
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Work Experience</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="col-sm-12 pr-1">
                                    <div class="form-group">
                                        <label>Job Title</label>
                                        <input style="width: 100%;" type="text" class="form-control" placeholder="Enter Job Title" value="">
                                        <label>Company Name</label>
                                        <br><input style="width: 100%;" type="text" class="form-control" placeholder="Enter Company Name" value="">
                                      <div class="row">  
                                        <div class="form-group" style="margin-left: 4%;">
                                        <label>Start Date</label>
                                        <br><input style="width: 90%;" type="date" class="form-control" placeholder="Enter Company Name" value="">
                                    </div>
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <br><input style="width: 90%;" type="date" class="form-control" placeholder="Enter Company Name" value="">
                                    </div>
                                    </div>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </h4><hr size="2">
                </div>
                <div class="card-body">

                </div>
        </div>
    </div>
</div>
</div>

<!-- </div> -->

<!-- </div> -->


=======
        </div>
    <!-- </div> -->
</div>

{% endblock %}