{% extends "layouts/DIR/commonlayoutdirector.html" %}
{% block heading%}
Requests
{% endblock %}

{% block content %}

<div class="card">
    
    <div class="card-body">
      
                                        <table id="table_schedule" class="table table-hover table-striped table.active justify-content: space-evenly;">
                                            <thead style="border-top: 2px solid black;border-bottom: 2px solid black;" >
                                                <th>SR.NO</th>
                                                <th>Name</th>
                                                <th>PRN / Eligibility No.</th>
                                                <th></th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Shivprasad Titare</td>
                                                    <td>22212720171242112134</td>
                                                    <td><button class="btn btn-success" > Approve</button></td>
                                                    <td><button class="btn btn-danger">Reject</button></td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">2</th>
                                                  <td>Sangameh Somawar</td>
                                                  <td>22212720171124210004</td>
                                                  <td><button class="btn btn-success" > Approve</button></td>
                                                  <td><button class="btn btn-danger">Reject</button></td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">3</th>
                                                  <td>Omkar Deshpande</td>
                                                  <td>22212720171124510005</td>
                                                  <td><button class="btn btn-success">Approve</button></td>
                                                  <td><button class="btn btn-danger">Reject</button></td>
                                                 </tr>
                                                 <tr>
                                                    <th scope="row">4</th>
                                                    <td>Rahulsingh Bisen</td>
                                                    <td>22212720171124217894</td>
                                                    <td><button class="btn btn-success" > Approve</button></td>
                                                    <td><button class="btn btn-danger">Reject</button></td>
                                                 </tr>
                                                 <tr>
                                                    <th scope="row">5</th>
                                                    <td>Sangameh Somawar</td>
                                                    <td>22212720171124210004</td>
                                                    <td><button class="btn btn-success" > Approve</button></td>
                                                    <td><button class="btn btn-danger">Reject</button></td>
                                                 </tr>
                                              </tbody>
                                        </table>
 
     
    </div>
  </div>

               


{% endblock %}