{% extends "layouts/student/commonlayoutstudent.html" %}
{% block heading %}
Dashboard
{% endblock %}


{% block content %}

<!-- <marquee direction="up" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" behavior="scroll">


    <table id="DataList_latnews" cellspacing="0" style="border-collapse:collapse;">
<tbody><tr>
<td>

<p><i class="fa fa-angle-right" style="color:#337585;"></i>

<a href="javascript:void(0)" class="View" style="color:#555;" desc="Visio tech" titlex="Visio tech" filepath="Admin_MOAFW/Data/agri_situation_april2018.pdf">
Visio tech </a> 


</p>

</td>
</tr><tr>
<td>

<p><i class="fa fa-angle-right" style="color:#337585;"></i>

<a href="javascript:void(0)" class="View" style="color:#555;" desc="Union Minister of Agriculture and Farmer Welfare,
Shri Radha Mohan Singh, released the Education
portal of ICAR at the Conference of Vice Chancellors
of Agriculture Universities and Directors of ICAR
Institutes in New Delhi on 8th March, 2018. The
portal has been developed on the lines of KVK portal
released by the Union Agriculture Minister earlier.Education Portal-ICAR (https://education.
icar.gov.in) will act as a single window platform
for providing vital education information/
announcements/event schedules/e-learning
resources from Agricultural Universities" titlex="Shri Radha Mohan Singh released Education Portal – ICAR at the Conference of Vice Chancellors of Agriculture Universities and Directors of ICAR Institutes." filepath="Admin_MOAFW/Data/agri_situation_april2018.pdf">
'Shri Radha Mohan Singh released Education Portal – ICAR at the Conference of Vice Chancellors of Agriculture Universities and Directors of ICAR Institutes.' </a> 


</p>

</td>
</tr><tr>


</td>
</tr>
</tbody></table>
        

     </marquee> -->




     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <div class="card" style="box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to left top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);">
                <div class="card-body" style="text-justify: auto;">


    <marquee direction="up" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="3" behavior="scroll">


    <table id="DataList_latnews" cellspacing="2" style="border-collapse:collapse;">
<tbody>
<tr>
<td>

<i class="fa fa-angle-right" style="color:#337585;"></i>

<a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
Visio tech </a> 

</td>
</tr>
<tr>
    <td>
    
    <i class="fa fa-angle-right" style="color:#337585;"></i>
    
    <a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
    Jhankaar </a> 
    
    </td>
    </tr>

    <tr>
        <td>
        
        <i class="fa fa-angle-right" style="color:#337585;"></i>
        
        <a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
        Umaang </a> 
        
        </td>
        </tr>
        <tr>
            <td>
            
            <i class="fa fa-angle-right" style="color:#337585;"></i>
            
            <a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
            Inter College Sports  </a> 
            
            </td>
            </tr>

            <tr>
                <td>
                
                <i class="fa fa-angle-right" style="color:#337585;"></i>
                
                <a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
                Youth Festial  </a> 
                
                </td>
                </tr>

                <tr>
                    <td>
                    
                    <i class="fa fa-angle-right" style="color:#337585;"></i>
                    
                    <a href="/student/events" class="View" style="color:	#FFFFFF;" desc="Visio tech" titlex="Visio tech" >
                        Annual Social Gathering
                     </a> 
                    
                    </td>
                    </tr>
        
    
</tbody>
</table>
</marquee>                   
                    
             

                </div>
            </div>
        </div>
     </div>

{% endblock %}