{% extends "layouts/student/commonlayoutstudent.html" %}

{% block heading%}
Events
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300; text-justify: auto">Visio Tech 2020</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: flex-start;">
                        A card is a flexible and extensible content container. 
                        It includes options for headers and footers, a wide variety of content, 
                        contextual background colors, and powerful display options. 
                    </div>
                    <hr>
                    <div>
                        <button style="margin-bottom:2%;margin-left: 2%;" class="btn btn-primary"> Participate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300; text-justify: auto">International Conference</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: flex-start;">
                        Every year we celebrate annual social gathering of M.G.M's College of Engineering in the name of ... On Day- 3 we invite alumni of M.G.M COE as a chief guest.
                    </div>
                    <hr>
                    <div>
                        <button style="margin-bottom:2%;margin-left: 2%;" class="btn btn-primary"> Participate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300; text-justify: auto">Women Empowerment</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: flex-start;">
                        Every year we celebrate annual social gathering of M.G.M's College of Engineering in the name of ... On Day- 3 we invite alumni of M.G.M COE as a chief guest.
                    </div>
                    <hr>
                    <div>
                        <button style="margin-bottom:2%;margin-left: 2%;" class="btn btn-primary"> Participate</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card shadowforcards">
                    <div class="card-header ">
                        <h4 class="card-title" style="font-weight:300;text-justify: auto;">Womens Day</h4><hr>
                    </div>
                    <div class="card-body" style="display: flex;justify-content: flex-start;">
                        Empowerment includes the action of raising the status of women through education, 
                        raising awareness, literacy, and training.
                         Women's empowerment is all about equipping and allowing women to make life-determining decisions through the different problems in society.
                    </div>
                    <hr>
                    <div>
                        <button style="margin-bottom:2%;margin-left: 2%;" class="btn btn-primary"> Participate</button>
                    </div>
                </div>
            </div>
        </div>



       
    </div>
</div>
{% endblock %}