{% extends "layouts/student/commonlayoutstudent.html" %}

{% block heading%}
Events
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to left top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);">
                    <div class="card-body" style="text-justify: auto;">
                        <b style="color:#ffffff;font-weight:500%;font-weight:400;font-size:17px;" class="card-title">SIH 2020</b>
                        <hr>
                        <div style="text-align: justify;">
                            <p style="color:#ffffff;font-size:18px;">
                                A card is a flexible and extensible content container. 
                                It includes options for headers and footers, a wide variety of content, 
                                contextual background colors, and powerful display options. 
                            </p>
                        </div> <hr>
                        <div>
                            <input class="btn btn-primary" style="color:white;border-color: white;"  type="button" value="Participate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);">
                    <div class="card-body" style="text-justify: auto;">
                        <b style="color:#ffffff;font-weight:500%;font-weight:400;font-size:17px;" class="card-title">VISIO TECH</b>
                        <hr>
                        <div style="text-align: justify;">
                            <p style="color:#ffffff;font-size:18px;">
                                A card is a flexible and extensible content container. 
                                It includes options for headers and footers, a wide variety of content, 
                                contextual background colors, and powerful display options. 
                            </p>
                        </div> <hr>
                        <div>
                            <input class="btn btn-primary" style="color:white;border-color: white;" type="button" value="Participate">
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <!-- End of 1st ROW -->  
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to left bottom, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);">
                    <div class="card-body" style="text-justify: auto;">
                        <b style="color:#ffffff;font-weight:500%;font-weight:400;font-size:17px;" class="card-title">VISIO TECH</b>
                        <hr>
                        <div style="text-align: justify;">
                            <p style="color:#ffffff;font-size:18px;">
                                A card is a flexible and extensible content container. 
                                It includes options for headers and footers, a wide variety of content, 
                                contextual background colors, and powerful display options. 
                            </p>
                        </div> <hr>
                        <div>
                            <input class="btn btn-primary" style="color:white;border-color: white;" type="button" value="Participate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to right bottom, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);">
                    <div class="card-body" style="text-justify: auto;">
                        <b style="color:#ffffff;font-weight:500%;font-weight:400;font-size:17px;" class="card-title">VISIO TECH</b>
                        <hr>
                        <div style="text-align: justify;">
                            <p style="color:#ffffff;font-size:18px;">
                                A card is a flexible and extensible content container. 
                                It includes options for headers and footers, a wide variety of content, 
                                contextual background colors, and powerful display options. 
                            </p>
                        </div> <hr>
                        <div>
                            <input class="btn btn-primary" style="color:white;border-color: white;"  type="button" value="Participate">
                        </div>
                    </div>
                </div>
            </div>   
        </div>

        <!-- End of 2nd ROW -->
    </div>
</div>
{% endblock %}