{% extends "layouts/student/commonlayoutstudent.html" %}

{% block heading%}
Schedules
{% endblock%}

{% block content %}
        <div style="margin-top: 3%;"></div>
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="border:2px solid black;overflow-x:hidden;overflow-y: auto;height: 25em;" class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4  class="card-title">Meet Schedule</h4>
                                </div>
                                <div  class="card-body table-full-width table-responsive">
                                    <table id="table_schedule" class="table table-hover table-striped table.active justify-content: space-evenly;">
                                        <thead style="border-top: 2px solid black;border-bottom: 2px solid black;" >
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>Topic</th>
                                            <th>status</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01/11/2020</td>
                                                <td>01:34</td>
                                                <td>React</td>
                                                <td style="color: blue;">pending</td>
                                            </tr>
                                            <tr>
                                                <td>02/11/2020</td>
                                                <td>22:45</td>
                                                <td>HTML</td>
                                                <td style="color:green;">sucess</td>
                                            </tr>
                                            <tr>
                                                <td>03/11/2020</td>
                                                <td>04:37</td>
                                                <td>Flask</td>
                                                <td style="color: red;">aborted</td>
                                            </tr>
                                            <tr>
                                                <td>10/11/2020</td>
                                                <td>04:56</td>
                                                <td>CSS</td>
                                                <td style="color: red;">aborted</td>
                                            </tr>
                                            <tr>
                                                <td>18/11/2020</td>
                                                <td>05:57</td>
                                                <td>JS</td>
                                                <td style="color: red;">aborted</td>
                                            </tr>
                                            <tr>
                                                <td>15/11/2020</td>
                                                <td>06:38</td>
                                                <td>Flask</td>
                                                <td style="color: red;">aborted</td>
                                            </tr>
                                             <tr>
                                                <td>15/11/2020</td>
                                                <td>06:38</td>
                                                <td>Flask</td>
                                                <td style="color: red;">aborted</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
                        
            